<html>
<head>
  <title>Atrav&eacute;s</title>

  <script src="node_modules/angular/angular.js"></script>
  <script src='https://maps.google.cn/maps/api/js?key=AIzaSyD8TIStKWe6gYH-KnB7YS9KsLYv-xNQmC4'></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.js"></script>
  <script src="https://rawgit.com/angular-ui/angular-google-maps/master/dist/angular-google-maps.js"></script>
  <script src="https://rawgit.com/nmccready/angular-simple-logger/master/dist/angular-simple-logger.js"></script>
  <script src="node_modules/moment/min/moment.min.js"></script>
  <script src="node_modules/angular-ui-bootstrap/dist/ui-bootstrap.js"></script>

  <script src="./app/app.js"></script>
  <script src="./app/Geolocator/geolocator-controller.js"></script>
  <script src="./app/Geolocator/geolocator-service.js"></script>
  <script src="./app/GoogleMaps/maps-controller.js"></script>
  <script src="./app/Messages/messages-controller.js"></script>
  <script src="./app/Messages/messages-service.js"></script>

  <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="styles.css"/>

</head>

<body ng-app="atraves" ng-controller="geolocator-controller">
  <header>
    <section id="titleBar">
      <h1>Atrav&eacute;s</h1>
      <h3>The other side of the world. Here.</h3>
      <br/>
    </section>


    <section id="coordinate-entry">
      <h5> Enter geo-coordinates or click to have us geolocate you:</h5>
      <input type="text" placeholder="Enter latitude" ng-model="lat" value="lat"/>
      <input type="text" placeholder="Enter longitude" ng-model="lng" value="lng"/>
      <button class="btn btn-success" type="submit" ng-click="getCurrentPosition()" />GeoLocate Me!</button>
      <br/>
      <br/>
      <h5> Search by city/address:</h5>
      <input type="text" placeholder="Enter a city/address" ng-model="city" value="city"/>
      <button class="btn btn-success" type="submit" ng-click="searchByAddress()" />Search</button>
    </section>

  </header>


  <section id="maps" ng-controller="maps-controller">
    <div class="map">
      <p>Your query:</p>
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker idKey="marker.id" coords="marker.coords"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

    <div class="map">
      <p>The antipode (point diametrically opposite) to your query:</p>
      <ui-gmap-google-map center='map2.center' zoom='map2.zoom'>
        <ui-gmap-marker idKey="marker2.id" coords="marker2.coords"></ui-gmap-marker>
      </ui-gmap-google-map>
    </div>
  </section>


  <section id="commentSection" ng-controller="messages-controller">
    <h3>What's happening on your side of the world??</h3>
    <div id="commentBox">
      <div class="comments" ng-repeat="message in messages | orderBy: 'id':true">
        <p><h5><span id="userName">{{message.userName}}:</span>&ensp;{{message.message}}</h5><h6> ({{message.time}})</h6></p>
      </div>
    </div>

    <br/>
    <br/>

    <div id="msgForm">
      <form name="msgForm">
        <h5> Put a message in a bottle:</h5>
        <input type="text" placeholder="Name" ng-model="userName" required>
        <br />
        <br />
        <div class="input-group">
          <textarea ng-model="message" ng-minlength="5" required></textarea>
          <button class="btn btn-success" type="submit" ng-click="postMessage()">Leave Comment</button>
        </div>
      </form>
    </div>

    <hr />

  </section>

</body>
</html>
