.angular-google-map-container{
  height: 400px;
  width: 400px;
  border: solid 4px black;


}

header{
  text-align: center;
}

#coordinate-entry{
  text-align: center;
}

.map{
  display: inline-block;
}

#receivedMsgs{
  border: solid 1px black;
  width: 400px;
  height: 200px;
}

#maps{
  text-align: center;
}

/*#firstPart{
  color: purple;
}

#secondPart{
  color: blue;
}*/
